@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-width: 300px;
  position: relative;
  min-height: 100vh;
  line-height: 1.5;
}

body {
  font-family: 'Inter', 'Poppins', sans-serif;
}

main {
  flex: 1;
}

.leaflet-popup-close-button {
  display: none; /* Hide the close button */
}
.leaflet-popup-content-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  z-index: 30000 !important;
}
.leaflet-popup-content {
  background: transparent !important;
  box-shadow: none !important;
  margin: 0 !important;
  z-index: 30000 !important;
  line-height: auto;
}
.leaflet-popup-tip {
  display: none;
}
.popup-arrow {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 16px solid white;
}

.max-container {
  max-width: 1440px;
}

.theme-toggle label {
  width: 50px;
  height: 20px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow:
    inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.theme-toggle label:after {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  /* top: 10px;
  left: 10px; */
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 18px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.theme-toggle input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.theme-toggle input:checked + label {
  background: #242424;
}
.theme-toggle input:checked + label:after {
  left: 49px;
  transform: translateX(-30%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.theme-toggle label,
label:after {
  transition: 0.7s;
}

.theme-toggle label:active:after {
  width: 26px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transition: all 0.2s;
}

.switch:hover {
  opacity: 0.8;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(180deg, #777, #3a3a3a);
  transition: 0.4s;
  border-radius: 34px;
}

.switch .slider::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider::before {
  transform: translateX(26px);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 4px;
  border: rgba(0, 0, 0, 0);
}

.legend-gradient-temp {
  background-image: linear-gradient(
    to right,
    rgb(159, 85, 181) 0%,
    rgb(44, 106, 187) 8.75%,
    rgb(82, 139, 213) 12.5%,
    rgb(103, 163, 222) 18.75%,
    rgb(142, 202, 240) 25%,
    rgb(155, 213, 244) 31.25%,
    rgb(172, 225, 253) 37.5%,
    rgb(194, 234, 255) 43.75%,
    rgb(255, 255, 208) 50%,
    rgb(254, 248, 174) 56.25%,
    rgb(254, 232, 146) 62.5%,
    rgb(254, 226, 112) 68.75%,
    rgb(253, 212, 97) 75%,
    rgb(244, 168, 94) 82.5%,
    rgb(244, 129, 89) 87.5%,
    rgb(244, 104, 89) 93.75%,
    rgb(244, 76, 73) 100%
  );
}

.legend-gradient-wind {
  background: linear-gradient(
    to left,
    rgb(158, 128, 177),
    rgba(116, 76, 172, 0.9),
    rgb(164, 123, 170),
    rgba(170, 128, 177, 0.84),
    rgba(176, 128, 177, 0.71),
    rgba(170, 128, 177, 0.54),
    rgba(170, 128, 177, 0.44),
    rgba(255, 255, 0, 0)
  );
}

.legend-gradient-rain {
  background: linear-gradient(
    to left,
    rgb(170, 43, 195),
    rgb(255, 0, 146),
    rgb(255, 0, 100),
    rgb(255, 0, 0),
    rgb(255, 91, 0),
    rgb(255, 150, 0),
    rgb(255, 205, 0),
    rgb(239, 248, 0),
    rgb(0, 70, 0),
    rgb(0, 90, 0),
    rgb(0, 160, 0),
    rgb(0, 211, 0),
    rgb(0, 250, 100),
    rgba(0, 0, 0, 0)
  );
}

.legend-gradient-pressure {
  background-image: linear-gradient(
    to right,
    rgb(0, 115, 255) 0%,
    rgb(0, 170, 255) 8.35059%,
    rgb(75, 208, 214) 24.9192%,
    rgb(141, 231, 199) 41.4879%,
    rgb(176, 247, 32) 49.7722%,
    rgb(240, 184, 0) 58.0565%,
    rgb(251, 85, 21) 74.6251%,
    rgb(243, 54, 59) 91.1938%,
    rgb(198, 0, 0) 100%
  );
}

.legend-gradient-clouds {
  background-image: linear-gradient(
    to right,
    rgba(247, 247, 255, 0) 0%,
    rgba(251, 247, 255, 0) 10%,
    rgba(244, 248, 255, 0.1) 20%,
    rgba(240, 249, 255, 0.2) 30%,
    rgba(221, 250, 255, 0.4) 40%,
    rgba(224, 224, 224, 0.9) 50%,
    rgba(224, 224, 224, 0.76) 60%,
    rgba(228, 228, 228, 0.9) 70%,
    rgba(232, 232, 232, 0.9) 80%,
    rgb(214, 213, 213) 90%,
    rgb(210, 210, 210) 95%,
    rgb(183, 183, 183) 100%
  );
}

.cursor-pointer-children label,
.cursor-pointer-children span {
  cursor: pointer;
}

@layer components {
  .tw-text-input {
    @apply h-10 rounded border-2 px-2 py-3 text-slate-800 focus:border-cyan-300 focus:outline-none focus:ring-1;
  }
  .tw-fixed-center-x {
    @apply fixed left-1/2 transform -translate-x-1/2;
  }
  .tw-fixed-center {
    @apply fixed left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .tw-gradient-main {
    @apply bg-gradient-to-r from-amber-500 to-amber-400;
  }
}
